.highlight{
    color: red;
    text-align: center;
    font-size: 24px;
}

h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    color: chartreuse;
    background-color: aqua;
    text-align: center;
}

